In [60]:
import os
from importlib import reload
from lib import api
from lib.sources import driver_utils
from lib.sources import iss_experiments
reload(api)
reload(driver_utils)
reload(iss_experiments)

data_dir = os.environ.get("DATA_HOME") or "~/data"
api.load_all(data_dir)
data = api.data

Loading mlo_weekly_co2.csv...
Loading statcan_leading_cause_of_death.csv...

In [4]:
api.ppm_biweekly_average().head()
api.ppm_monthly_average().head()
api.ppm_yearly_average().tail()

    year         ppm
42  2016  404.258269
43  2017  406.570943
44  2018  408.553654
45  2019  411.470192
46  2020  413.877273

In [5]:
api.ppm_at("2012-01-02")

,date,ppm,1 yr ago.,10 yr ago,since 1800,# days,year,month,day,decimal
1962,2011-12-25,392.20,389.88,371.72,112.50,7,2011,12,25,2011.9822
1963,2012-01-01,392.96,391.41,372.30,113.00,7,2012,1,1,2012.0014
1964,2012-01-08,393.37,391.12,372.26,113.24,6,2012,1,8,2012.0205
1965,2012-01-15,392.97,391.41,372.80,112.69,7,2012,1,15,2012.0396

In [61]:
api.leading_cause_of_death_by_year(2015)

,REF_DATE,GEO,Leading causes of death (ICD-10),VALUE
5,2015,"Canada, place of residence",Malignant neoplasms [C00-C97],77054
35,2015,"Canada, place of residence","Diseases of heart [I00-I09, I11, I13, I20-I51]",51534
45,2015,"Canada, place of residence",Cerebrovascular diseases [I60-I69],13795
65,2015,"Canada, place of residence",Chronic lower respiratory diseases [J40-J47],12573
95,2015,"Canada, place of residence","Accidents (unintentional injuries) [V01-X59, Y...",11833
55,2015,"Canada, place of residence",Influenza and pneumonia [J09-J18],7630
15,2015,"Canada, place of residence",Diabetes mellitus [E10-E14],7172
25,2015,"Canada, place of residence",Alzheimer's disease [G30],6587
105,2015,"Canada, place of residence","Intentional self-harm (suicide) [X60-X84, Y87.0]",4405
75,2015,"Canada, place of residence","Chronic liver disease and cirrhosis [K70, K73-...",3176
85,2015,"Canada, place of residence","Nephritis, nephrotic syndrome and nephrosis [N...",3129
115,2015,"Canada, place of residence","Assault (homicide) [X85-Y09, Y87.1]",456